<div class="row mb-4 post">
    <div class="col-md-12 title-bar">
        <p class="label">Add Comment to post</p>
    </div>
    <div class="col-md-12 mb-4"> 
        <form class="form-input">
            <textarea placeholder="Enter comment here" rows=10 id="commentArea"></textarea>
        </form>
    </div>
    <div class="col-md-12 mb-4"> 
        <form class="form-input">
            <button class="btn" id="save" data-post-id={{postID}}>Add Comment</button>
        </form>
    </div>
    
</div>