<div class="row mb-4 post">
    <div class="col-md-12 title-bar">
        <p class="label">New Post</p>
    </div>
    <div class="col-md-12 mb-4"> 
        <form class="form-input">
            <label for="titleArea">Title</label><br>
            <input placeholder="Enter title here" id="titleArea" type="text"></input>
        </form>
    </div>
    <div class="col-md-12 mb-4"> 
        <form class="form-input">
            <label for="postArea">Content</label>
            <textarea placeholder="Enter post here" rows=10 id="postArea"></textarea>
        </form>
    </div>
    <div class="col-md-12 mb-4"> 
        <form class="form-input">
            <button class="btn" id="new" >Add Post</button>
        </form>
    </div>
    
</div>

<script src="/js/post.js"></script>