<!-- Loop over each object in the projects array -->
{{#each users as |post| }}
<div class="row mb-4 post">
  <div class="col-md-12 title-bar">
    <h2 class="label">
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h2>
    <p class="label">{{post.createdAt}}</p>
  </div>
  <div class="col-md-12">
    <p>
      {{post.body}}
    </p>
  </div>
</div>

{{/each}}
