body{
    background-color: #A86C0D;
    height: 100%;
}

header {
    background-color: #756244;
}

h3{
    padding: 5px;
    margin-right: 50px;
    border-radius: 10px;
}

a {
    color: white;
}

a:hover{
    color: #60E0B3;   
}

#commentArea{
    resize: none;
    width:100%;
}

.title{
    padding: 5px;
    background-color: #A86C0D;
    border-radius: 10px;
    box-shadow: 10px 10px #DB6427;
}

.brbrown{
    background-color: #A86C0D;;
}

.title-bar{
    display: flex;
    padding: 5px;
    background-color: #756244;
    justify-content: space-between;
    align-items: flex-end;
}

.post{
    
    border: 5px solid;
    border-color: #756244;
}